* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    display: flex;
    padding-left: 10rem;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    margin-bottom: 4rem;
}

.container-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: flex-start;
    margin-left: -10rem;
    justify-content: center;
}

.header-logo {
    padding-top: 2rem;
    align-self: flex-start;
}

.logo {
    max-width: 200px;
    margin-top: 0;
}

.heading-1 {
    color: hsl(0, 6%, 24%);
    font-weight: 700;
    display: block;
    margin-top: 1rem;
}

.description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    color: hsl(0, 36%, 70%);
}