* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

main {
    display: flex;
    padding-left: 10rem;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    margin-bottom: 4rem;
}

.container-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-self: flex-start;
    margin-left: -10rem;
    justify-content: center;
}

.header-logo {
    padding-top: 2rem;
    align-self: flex-start;
}

.logo {
    max-width: 200px;
    margin-top: 0;
}

.heading-1 {
    color: hsl(0, 6%, 24%);
    font-weight: 700;
    display: block;
    margin-top: 1rem;
}

.description {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 2.5rem;
    color: hsl(0, 36%, 70%);
    max-width: 450px;
}

form {
    display: flex;
    position: relative;
}

.form-input {
    display: flex;
    flex-direction: column;
}

input, 
button {
    height: 50px;
    border: 1px solid hsl(0, 36%, 70%);
}

input {
    padding-left: 2rem;
    padding-right: 16.5rem;
    margin-right: 1rem;
    border-radius: 50px;
    position: relative;
}

input::placeholder {
    color: hsl(0, 36%, 70%);
}

button {
    height: 50px;
    background: linear-gradient (hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 5px 2px 5px hsl(0, 36%, 70%);
    color: #fff;
    border-radius: 50px;
    padding: 10px 40px;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    transition: transform 0.3s ease;
    filter: 100%;
}